@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Epilogue", sans-serif;
  }
}
